@import (reference) '../../../styles/index.less';

.circleMenu {
  background: #304cfd;
  border-radius: 50% 0 50% 50%;
  box-shadow: 0 24px 40px rgba(48, 76, 253, 0.1),
    0 8px 16px rgba(48, 76, 253, 0.1);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 3.75rem;
  z-index: 1101;
  @media only screen and (max-width: 768px) {
    pointer-events: all;
    visibility: visible;
  }
  .hamburger {
    cursor: pointer;
    color: #fff;
    text-align: center;
    .hamburgerText {
      position: absolute;
      width: 100%;
      top: 33%;
      left: 0;
      font-size: 0.75rem;
    }
  }
  &:focus {
    outline: none;
  }
}
.menuIcon {
  .hamburgerText {
    opacity: 0;
  }
  .line {
    background-color: #fff;
    border-radius: 4px;
    display: block;
    margin: 4px 0;
    height: 2px;
    width: 18px;
    transition: all 0.2s ease-in-out;
  }
  .line:nth-child(1) {
    transform: translateY(0px) rotate(45deg);
  }
  .line:nth-child(2) {
    transform: translateY(-6px) rotate(-45deg);
  }
}
.content {
  background: #fff;
  border-radius: @border-radius-content;
  margin: 0px;
  min-height: 280px;
}
.navWrap {
  max-width: @body-width;
  flex-direction: row-reverse;
  ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
}
.nav {
  .flex-center();
  background-color: #fff;
  border-radius: 3rem 0 0 0;
  color: #5f6f81;
  font-weight: 500;
  height: 4.35rem;
  letter-spacing: 0.04rem;
  margin-left: auto;
  padding-top: 1rem;
  padding-left: 2.5rem;
  position: relative;
  bottom: -0.1px;
  z-index: 1;
  &:before {
    content: '';
    background-image: url(../../../images/nav-edge.svg);
    transform: scaleX(-1);
    height: 102.1%;
    position: absolute;
    top: 1px;
    right: -133px;
    width: 135px;
    z-index: -1;
  }
  .navItem {
    margin-right: 0.4rem;
    a {
      color: #5f6f81;
      padding: 0.6rem 1rem;
    }
    .anchorActive {
      background-color: #304cfd;
      border-radius: 14px;
      color: #fff;
    }
  }
}
/** mobile header code */
.openMenu {
  ul {
    display: block;
    margin: 0;
    position: absolute;
    top: (50% - 15rem);
    transition: all 2s;
    li {
      margin-bottom: 1rem;
    }
  }
  .nav {
    background-color: #304cfd;
    &:before {
      background-image: none;
    }
    .navItem {
      a {
        color: white;
        font-size: 1.5rem;
      }
      .anchorActive {
        background-color: #304cfd;
        border-radius: 14px;
        color: white;
      }
    }
  }
  .backgroundDiv {
    position: fixed;
    background-color: #304cfd;
    width: 100%;
    height: 100%;
    z-index: 100;
    right: 0;
    top: 0;
  }
}
.hidden {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
